<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.css" integrity="sha256-j5X3Yk4AwOdSE1go4GG6eQ/Bq0+gY2STs+GlULjQ+y8=" crossorigin="anonymous" />
    <style media="screen">
        .container {
            display: flex;
            justify-content: center;
        }


        .box {
            width: 600px;
            max-width: 600px;
            height: 600px;
            background-color: #ccc;
        }



        .box-content {
            display: flex;
            justify-content: center;
            height: 500px;
            flex-wrap: wrap;
        }


        .box-content-img {
            display: flex;
            justify-content: center;
            width: 100%;
            height: 300px;
            margin: 10px 5px;
        }



        .box-footer {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            align-items: flex-end;
            height: 100px;
        }
    </style>
    <style media="screen">
        .uploader {
            position: relative;
            width: 100%;
            height: 300px;
            background: #f3f3f3;
            border: 2px dashed #e8e8e8;
        }

        #filePhoto {
            position:absolute;
            width: 100%;
            height: 300px;
            top: 0;
            left: 0;
            z-index: 2;
            opacity: 0;
            cursor: pointer;
        }
        .preview-Img-container{
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #previewImg {
            display: none;
            max-width: 95%;
            max-height: 300px;
            width: auto;
            height: 100%;
            border: none;
            margin: 0px auto;
        }
    </style>
</head>

<body>
    <header></header>
    <main class="container">
        <div class="box-container">
            <div class="box">
                <div class="box-content">
                    <div class="box-content-img">
                        <div class="uploader">
                            <div class="preview-Img-container">
                              <img id="previewImg" src="" />
                            </div>
                            <input type="file" name="userprofile_picture" id="filePhoto" />
                        </div>
                    </div>
                    <div id="tags" name="tags"></div>
                </div>
                <div class="box-footer">
                    <button id="submitBtn" type="button">上傳</button>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-tagsinput/1.3.6/jquery.tagsinput.min.js" integrity="sha256-IkytFcY/Z/rLvRE9rYyZvybaitAWr1y2jS/+eyxXky8=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(function() {
            $('#tags').tagsInput({
                'width': '95%',
                'height': '100px'
            });
            var file = document.getElementById('file');
            var fileDataURL;
            var getFileDataURL = function(fileData, callback) {
                var reader = new FileReader();
                reader.addEventListener("load", function() {
                    callback(reader.result);
                }, false);
                if (fileData) {
                    reader.readAsDataURL(fileData);
                }
            }
            $('#uploader').on('click',function () {
              $('#filePhoto').trigger('click');
            });
            document.getElementById('filePhoto').addEventListener('change', function() {
                var fileData = this.files[0];
                getFileDataURL(fileData, function(result) {
                    previewImg.src = result;
                    $('#previewImg').show();
                });
            });
            document.getElementById('submitBtn').addEventListener('click', function() {
                var self = this;
                self.disabled = true;
                var tags = $('#tags').val();
                var base64 = previewImg.src.split(',')[1];
                var payload = {
                    base64: base64,
                    tags: tags.split(',')
                };
                var data = new FormData();
                fetch("/api/pics", {
                        headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                        },
                        credentials: 'include',
                        method: "POST",
                        body: JSON.stringify(payload)
                    })
                    .then(function(res) {
                        return res.json();
                    })
                    .then(function(data) {
                        if (data.success) {
                            alert('上傳成功');
                            location.reload();
                        } else {
                            alert(data.message);
                            self.disabled = false;
                        }
                    });
            });


        });
    </script>
</body>

</html>
